# Node modules & build artifacts
node_modules
dist
build
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# IDE & editor
.vscode
.idea

# Env files (nên copy riêng nếu cần)
.env
.env.*